<link rel="stylesheet" href="/src/assets/css/main.css" />
<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
  <span
    class="text-xl -translate-y-0.5 group-hover:-rotate-12 group-hover:scale-[1.2] ease-in-out duration-300"
    ><img src="https://i.ibb.co/spTSfF7/DALL-E-2024-11-27-11-48.png" alt="DALL-E-2024-11-27-11-48" width="60px"></span
  >
  <!-- Logo Text -->
  <span class="-translate-y-0.5"> </span>
</a>
